.img {
    width: 100px;
}

.bg {
    background-image: url("https://assets.ccbp.in/frontend/responsive-website/landing-section-bg.png");
    background-size: cover;
    height: auto;
    width: auto;
}

.h1 {
    color: white;
    font-size: 40px;
}

.d {
    color: #FFDDA9;
    font-size: 40px;
}

.p {
    color: white;
    font-size: 18px;
}

.b {
    background-color: #FFDDA9;
    width: 40%;
    border-radius: 20px;
    font-weight: bold;
    color: #0c0521;
}

#t {
    color: white;
}

.nav-bg {
    background-color: #0C0521;
}

.g {
    background-color: white;
}

.bg10 {
    background-color: #f5f6fb;
    border-radius: 30px;
    margin: 20px;
}

.img5 {
    width: 80%;
    border-radius: 30px;
}

.h5 {
    font-size: 18px;
}

.cards-container {

    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 900px;
}

.card {
    width: 230px;
    background-color: white;
    padding: 16px;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 16px;
    font-family: "Open Sans";
    font-size: 16px;
}

.card-background-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 150px;
    width: 100%;
    background-size: cover;
    border-radius: 16px;
}

.nike-bg-image-1 {
    background-image: url("https://res.cloudinary.com/dnui5jkxv/image/upload/v1710445559/bb_ux4hbx.avif");
}

.nike-bg-image-2 {
    background-image: url("https://res.cloudinary.com/dnui5jkxv/image/upload/v1710446294/ascension_m59iou.webp");
}

.nike-bg-image-3 {
    background-image: url("https://res.cloudinary.com/dnui5jkxv/image/upload/v1710446635/Beach_club_of_Novotel_Bali_Nusa_Dua_crowgm.avif");
}

.nike-bg-image-4 {
    background-image: url("https://res.cloudinary.com/dnui5jkxv/image/upload/v1710446740/baku16_fccvg6.avif");
}

.nike-bg-image-5 {
    background-image: url("https://res.cloudinary.com/dnui5jkxv/image/upload/v1710446918/ushguli_rzv1hi.avif");
}

.nike-bg-image-6 {
    background-image: url("https://res.cloudinary.com/dnui5jkxv/image/upload/v1710447049/lake_upcens.avif");
}

.card-description {
    font-size: 16px;
    color: #594d6d;
    flex-direction: column;
    text-align: left;
}

.badge {
    background-color: black;
    color: white;
    padding-top: 4px;
    padding-right: 15px;
    padding-bottom: 4px;
    padding-left: 15px;
    font-size: 12px;
    border-radius: 16px;
    margin-right: 8px;
    margin-bottom: 6px;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #659ebc;
    width: 56px;
    height: 56px;
    border-radius: 100%;
}

.price {
    font-weight: 700;
}

.card-footer-container {
    display: flex;
    justify-content: space-between;
}

.icon {
    color: white;
    font-size: 22px;
}

.bg11 {
    background-color: transparent;
}

.flight {}

#flight-search-form {
    margin: 50px;
    color: white;

}

#flight-search-form label {
    display: block;
    margin-bottom: 5px;
}

#flight-search-form input[type="text"],
#flight-search-form input[type="date"],
#flight-search-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#flight-results {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    display: none;
    /* Initially hidden until search results are shown */
}

.head {
    color: white;
    text-align: center;
}

.h15 {
    color: #f19116;
    font-family: Bree Serif;
}

.lp {
    padding: 5px;
}

.h2 {
    font-family: Bree Serif;
    font-size: 28px;
    font-weight: bold;
}


.h3 {
    color: #f19116;
    font-family: Bree Serif;
    font-size: 20px;
    padding: 15px;
}

.img4 {
    width: 50%;
}

.p2 {
    color: #ffffff;
    font-size: 15px;
}

.horizontal-line {
    background-color: #ffffff;
    width: 90%;
}

#hotel-search-form {
    margin-bottom: 20px;
    color: white;
}

#hotel-search-form label {
    display: block;
    margin-bottom: 5px;
}

#hotel-search-form input[type="text"],
#hotel-search-form input[type="date"],
#hotel-search-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#hotel-results {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    display: none;
    /* Initially hidden until search results are shown */
}

.h16 {
    font-size: 30px;
}

.bg19 {
    background-color: #001c32;
    height: auto;
}

.imgr {
    border-radius: 100px;
    width: 150%;
    text-align: center;
}

.h15 {
    color: #cced00;
    font-size: 25px;
}

.p13 {
    color: #9aa5b1;
    font-size: 18px;
}

.c7 {
    border-style: solid;
    border-color: #9aa5b1;
    border-width: 2px;
    border-radius: 50px;
}

.d0 {
    text-align: center;
}

.hr {

    background-color: #5a7184;
}